BOT_TOKEN=ISI_TOKEN_BOT_KAMU

# OLLAMA KONFIGURASI (UNTUK HOSTING RAILWAY)
# Karena Railway tidak di-install software desktop Ollama, 
# url localhost di bawah WAJIB diganti dengan link URL Publik milik Ollama kamu
# (misalkan menggunakan layanan cloud ollama terpisah atau tunnel ngrok ke PC kamu).
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3

# ADMIN
ADMIN_IDS=ADMIN_IDS

# KREDENSI INSTAGRAM MANUAL (Opsional)
IG_USERNAME=username_ig_dummy